<h1>USHAHIDI SITES</h1>

<form action="/ushahidi/create" method="post">
    URL: <input type="text" name="url" size="40"><br/>
    LAT: <input type="text" name="lat"><br/>
    LON: <input type="text" name="lon"><br/>
    RAD: <input type="text" name="radius"><br/>
    <input type="submit" value="save">
</form>